<button
	transition:persist="back-to-top"
	id="back-to-top"
	class="bg-primary text-primary-content invisible fixed bottom-4 right-6 rounded-full p-2 opacity-0 shadow-lg transition-opacity duration-300"
	aria-label="Back to top"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="h-6 w-6"
		fill="none"
		viewBox="0 0 24 24"
		stroke="currentColor"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
	</svg>
</button>

<script is:inline>
	const backToTopButton = document.getElementById('back-to-top');

	function toggleBackToTopButton() {
		if (window.scrollY > 800) {
			backToTopButton.classList.remove('opacity-0', 'invisible');
			backToTopButton.classList.add('opacity-100', 'visible');
		} else {
			backToTopButton.classList.add('opacity-0', 'invisible');
			backToTopButton.classList.remove('opacity-100', 'visible');
		}
	}

	function scrollToTop() {
		window.scrollTo({
			top: 0,
			behavior: 'smooth',
		});
	}

	window.addEventListener('scroll', toggleBackToTopButton);
	backToTopButton.addEventListener('click', scrollToTop);

	document.addEventListener('astro:after-swap', () => {
		window.addEventListener('scroll', toggleBackToTopButton);
		backToTopButton.addEventListener('click', scrollToTop);
	});
</script>
