---
import { Icon } from 'astro-icon/components';
import ExternalLink from '~/components/ui/ExternalLink.astro';
import SocialIconLink from './SocialIconLink.astro';

export interface Props {
	class?: string;
}
---

<footer class={Astro.props.class}>
	<section class="flex flex-wrap items-center justify-between gap-y-4 py-4">
		<ul class="flex flex-wrap gap-2" aria-label="Métodos de pago admitidos">
			<li>
				<Icon name="visa" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Visa</div>
			</li>
			<li>
				<Icon name="mastercard" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Mastercard</div>
			</li>
			<li>
				<Icon name="paypal" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Paypal</div>
			</li>
			<li>
				<Icon name="apple-pay" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Apple Pay</div>
			</li>
			<li>
				<Icon name="klarna" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Klarna</div>
			</li>
			<li>
				<Icon name="amex" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Amex</div>
			</li>
		</ul>
		<ul class="flex flex-wrap gap-2" aria-label="Social links">
			<li>
				<SocialIconLink
					name="Facebook"
					icon="mdi:facebook"
					href="https://www.facebook.com/maquiavelowines"
					target="_blank"
				/>
			</li>
			<li>
				<SocialIconLink
					name="Instagram"
					icon="mdi:instagram"
					href="https://www.instagram.com/bodegasmaquiavelo/"
					target="_blank"
				/>
			</li>
			<li>
				<SocialIconLink
					name="Youtube"
					icon="mdi:youtube"
					href="https://www.youtube.com/@maquiavelowines"
					target="_blank"
				/>
			</li>
		</ul>
	</section>

	<div class="mb-5 text-sm text-theme-base-600 dark:text-theme-base-100">
		<p>
			<a
				href="mailto:info@maquiavelowines.com"
				target="_blank"
				rel="noopener noreferrer"
				class="no-underline!important"
			>
				info@maquiavelowines.com
			</a>
		</p>
	</div>

	<div class="border-b border-theme-base-300"></div>

	<section
		class="flex flex-wrap justify-between gap-y-2 py-6 text-sm text-theme-base-600 dark:text-theme-base-100"
	>
		<p>
			{'© '}{new Date().getFullYear()}{' | Bodegas Maquiavelo ®'}
			<p class="flex flex-wrap gap-x-4">
				<a href="/cookies/" rel="nofollow" class="underline">Cookies</a>
				<a href="/legal/" rel="nofollow" class="underline">Aviso legal</a>
				<a href="/privacidad/" rel="nofollow" class="underline">Privacidad</a>
				<a href="/venta/" rel="nofollow" class="underline">Venta</a>
			</p>
		</p>
	</section>
	<section class="by-astro grid justify-center py-2">
		<a href="https://astro.build/" target="_blank" rel="external">
			<svg
				width="24"
				height="30"
				viewBox="0 0 24 30"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="translate-y-[3px]"
			>
				<path
					d="M7.70883 25.5523C6.35819 24.3134 5.9639 21.7103 6.52661 19.8245C7.50233 21.0135 8.85426 21.3901 10.2546 21.6027C12.4164 21.9308 14.5395 21.8081 16.5477 20.8166C16.7774 20.7031 16.9897 20.5522 17.2407 20.3993C17.4292 20.9478 17.4782 21.5017 17.4124 22.0653C17.2524 23.4381 16.5716 24.4985 15.4887 25.3023C15.0557 25.6238 14.5975 25.9112 14.1503 26.2144C12.7765 27.1462 12.4048 28.2387 12.921 29.828C12.9333 29.8667 12.9443 29.9054 12.972 29.9999C12.2705 29.6849 11.7582 29.2263 11.3678 28.6232C10.9554 27.9867 10.7592 27.2826 10.7489 26.5208C10.7437 26.1501 10.7437 25.776 10.694 25.4106C10.5727 24.5195 10.1559 24.1205 9.37051 24.0975C8.56451 24.0739 7.92694 24.5739 7.75787 25.3613C7.74497 25.4217 7.72625 25.4814 7.70754 25.5516L7.70883 25.5523Z"
					fill="#45556c"></path>
				<path
					d="M0 19.5103C0 19.5103 3.99947 17.5552 8.01012 17.5552L11.034 8.16461C11.1472 7.71047 11.4778 7.40185 11.8509 7.40185C12.2241 7.40185 12.5547 7.71047 12.6679 8.16461L15.6918 17.5552C20.4418 17.5552 23.7019 19.5103 23.7019 19.5103C23.7019 19.5103 16.9085 0.939907 16.8952 0.902648C16.7002 0.353607 16.3711 0 15.9273 0H7.77531C7.33154 0 7.01567 0.353607 6.80741 0.902648C6.79274 0.939204 0 19.5103 0 19.5103Z"
					fill="#45556c"></path>
			</svg>
		</a>
	</section>
	<section
		class="flex flex-wrap justify-center py-2 text-sm text-theme-base-600 dark:text-theme-base-100"
	>
		<p>
			Desarrollado por <ExternalLink
				href="https://juanmunozmedina.vercel.app/"
				class="underline"
				target="_blank"
				rel="noopener noreferrer"
			>
				Juan Muñoz Medina
			</ExternalLink>
		</p>
	</section>
</footer>
