---
import ThemeIcon from '~/components/layout/ThemeIcon.astro';
---

<aside
	class="breakout focus-ring-light min-h-10 items-center justify-center text-balance bg-theme-base-100 py-2 text-center text-sm text-theme-base-900 dark:bg-slate-700 dark:text-theme-base-100"
	transition:persist="modal"
>
	<div
		id="popup-modal"
		tabindex="-1"
		class="popup-modal z-60 fixed left-0 right-0 top-0 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden md:inset-0"
		aria-modal="true"
		role="dialog"
	>
		<div class="relative max-h-full w-full max-w-md p-2">
			<div class="relative rounded-lg bg-gray-100 shadow dark:bg-gray-700">
				<div class="p-4 text-center md:p-5">
					<svg
						class="mx-auto mb-4 h-12 w-12 text-gray-700 dark:text-gray-100"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 20 20"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
					</svg>
					<h3 class="mb-5 text-lg font-normal text-gray-700 dark:text-gray-100">
						Por un consumo responsable.
						<br />
						Al navegar por nuestra tienda eres responsable de cumplir con la mayoría de edad legal.
					</h3>
					<button
						id="button-popup-modal"
						data-modal-hide="popup-modal"
						type="button"
						class="inline-flex items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300"
					>
						Sí, tengo más de 18 años.
					</button>
					<a
						href="https://www.google.com/?hl=es"
						type="button"
						class="ms-3 rounded-lg bg-red-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-800 focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300"
					>
						No
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="relative">
		<p class="content">¡Envío a partir de 60€!</p>
		<ThemeIcon transition:persist="icon" />
	</div>
</aside>

<script>
	import { Modal } from 'flowbite';
	import type { ModalOptions, ModalInterface } from 'flowbite';
	import type { InstanceOptions } from 'flowbite';

	const $modalElement: HTMLElement | null = document.querySelector('#popup-modal');

	const modalOptions: ModalOptions = {
		placement: 'top-center',
		backdrop: 'dynamic',
		backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-50',
		closable: false,
	};

	// instance options object
	const instanceOptions: InstanceOptions = {
		id: 'popup-modal',
		override: true,
	};

	const modal: ModalInterface = new Modal($modalElement, modalOptions, instanceOptions);

	if (!window.localStorage.getItem('popupShown')) {
		const buttonElement = document.activeElement as HTMLElement; // Get the currently focused element
		buttonElement.blur(); // Remove focus from the button
		modal.show();
		const element = document.getElementById('button-popup-modal');
		element!.addEventListener('click', (): void => {
			window.localStorage.setItem('popupShown', 'true');
		});
	}
</script>
