<aside
	class="breakout focus-ring-light min-h-10 items-center justify-center text-balance bg-theme-base-900 px-4 py-2 text-center text-sm text-theme-base-300"
>
	<button
		data-modal-target="popup-modal"
		data-modal-toggle="popup-modal"
		class="mb-2 flex items-center justify-center gap-1 underline"
		type="button"
	>
		<svg
			class="mx-0 h-6 w-6 text-gray-400"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 20 20"
			data-astro-source-file="C:/Users/juanmunoz/Desktop/maquiavelowines/maquiavelowines/src/pages/index.astro"
			data-astro-source-loc="34:8"
		>
			<path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
				data-astro-source-file="C:/Users/juanmunoz/Desktop/maquiavelowines/maquiavelowines/src/pages/index.astro"
				data-astro-source-loc="35:9"></path>
		</svg>
		Consentimiento legal.
	</button>
	<p class="content">¡Envío a partir de 60€ a toda la Península!</p>
</aside>
