---
import { Icon } from 'astro-icon/components';
import ExternalLink from '~/components/ui/ExternalLink.astro';
import SocialIconLink from './SocialIconLink.astro';

export interface Props {
	class?: string;
}
---

<footer class={Astro.props.class}>
	<section class="flex flex-wrap items-center justify-between gap-y-4 py-4">
		<ul class="flex flex-wrap gap-2" aria-label="Métodos de pago admitidos">
			<li>
				<Icon name="visa" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Visa</div>
			</li>
			<li>
				<Icon name="mastercard" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Mastercard</div>
			</li>
			<li>
				<Icon name="paypal" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Paypal</div>
			</li>
			<li>
				<Icon name="apple-pay" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Apple Pay</div>
			</li>
			<li>
				<Icon name="klarna" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Klarna</div>
			</li>
			<li>
				<Icon name="amex" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Amex</div>
			</li>
		</ul>
		<ul class="flex flex-wrap gap-2" aria-label="Social links">
			<li>
				<SocialIconLink
					name="Facebook"
					icon="mdi:facebook"
					href="https://www.facebook.com/maquiavelowines"
					target="_blank"
				/>
			</li>
			<li>
				<SocialIconLink
					name="Instagram"
					icon="mdi:instagram"
					href="https://www.instagram.com/bodegasmaquiavelo/"
					target="_blank"
				/>
			</li>
			<li>
				<SocialIconLink
					name="Youtube"
					icon="mdi:youtube"
					href="https://www.youtube.com/@maquiavelowines"
					target="_blank"
				/>
			</li>
		</ul>
	</section>

	<div class="border-b border-theme-base-300"></div>

	<section class="flex flex-wrap justify-between gap-y-2 py-6 text-sm text-theme-base-600">
		<p>
			{'© 2025 | Maquiavelo'}<span>{' | Todos los derechos reservados.'}</span>
			<p class="flex flex-wrap gap-x-4">
				<ExternalLink
					href="https://maquiavelowines.com/cookies/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Cookies
				</ExternalLink>
				<ExternalLink
					href="https://maquiavelowines.com/legal/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Aviso legal
				</ExternalLink>
				<ExternalLink
					href="https://maquiavelowines.com/privacidad/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Privacidad
				</ExternalLink>
				<ExternalLink
					href="https://maquiavelowines.com/venta/"
					target="_blank"
					rel="noopener noreferrer"
				>
					Venta
				</ExternalLink>
			</p>
		</p>
	</section>
</footer>
