<h2 class="pt-12 text-2xl font-bold md:text-3xl">Reseñas de nuestros clientes</h2>
<div
	id="wallyWidget"
	data-wally-widget="67d07418ff5d0b00140e2972"
	style="width: 100%; height: 100%;"
>
</div>
<script is:inline>
	function loadScript() {
		var script = document.createElement('script');
		script.setAttribute('is:inline', '');
		script.src = 'https://embed.getwally.net/embed.js';
		script.setAttribute('defer', '');
		document.body.appendChild(script);
	}
	if (document.getElementById('wallyWidget')) {
		document.addEventListener('astro:page-load', loadScript);
	}
</script>
