---
import CollectionSection from '~/features/collection/CollectionSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';

export const prerender = true;
---

<PrimaryLayout title="Bodegas Maquiavelo">
	<main>
		<div class="mx-auto my-16 grid max-w-lg lg:my-48">
			<h1 class="mb-6 text-3xl font-semibold sm:text-5xl">Problema inesperado ⚠</h1>
			<p>Lo sentimos, tuvimos un problema por nuestra parte.</p>
		</div>
		<CollectionSection heading="Volver a la tienda" />
	</main>
</PrimaryLayout>
