---
import LandingHero from '~/components/LandingHero.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';

applyDefaultCacheHeaders(Astro.response.headers);
---

<PrimaryLayout title="Bodegas Maquiavelo">
	<LandingHero />
	<main class="breakout mt-16 flex flex-col gap-y-16">
		<div class="content">
			<ProductCarouselSection heading="Popular ahora mismo" />
		</div>

		<CollectionSection />
	</main>
</PrimaryLayout>
