---
import LandingHero from '~/components/LandingHero.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';

applyDefaultCacheHeaders(Astro.response.headers);
---

<PrimaryLayout title="Bodegas Maquiavelo">
	<LandingHero />
	<main class="breakout mt-16 flex flex-col gap-y-8">
		<div class="m-0 grid gap-4 text-slate-700">
			<p>Nuestra filosofía para 2025.</p>
			<p>
				<strong
					>"En Maquiavelo Wines, creemos que cada botella cuenta una historia. Ofrecemos vinos de
					pequeñas producciones que invitan a explorar y disfrutar de lo auténtico, perfectos para
					quienes buscan dejar atrás lo convencional y sorprender en cada encuentro."</strong
				>
			</p>
			<p>¡Descubre cómo transformar tu vida en un instante!</p>
			<ul class="list-disc pl-4">
				<li>Maquiavelo ® Wines</li>
				<li>Ancestral ™ Wines</li>
				<li>Catrinha ™ Wines</li>
			</ul>
		</div>
		<div class="content">
			<ProductCarouselSection heading="Popular ahora mismo" />
		</div>
		<CollectionSection />
	</main>
</PrimaryLayout>
