---
import LandingHero from '~/components/LandingHero.astro';
import WallyWidget from '~/components/layout/WallyWidget.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';

applyDefaultCacheHeaders(Astro.response.headers);
---

<PrimaryLayout title="Bodegas Maquiavelo">
	<LandingHero />
	<main class="breakout mt-16 gap-y-8">
		<div class="m-auto w-full max-w-xl text-slate-700 dark:text-theme-base-100">
			<p>
				<strong
					>En Bodegas Maquiavelo, creemos que cada botella cuenta una historia. Ofrecemos vinos de
					pequeñas producciones que invitan a explorar y disfrutar de lo auténtico, perfectos para
					quienes buscan dejar atrás lo convencional y sorprender en cada encuentro.</strong
				>
			</p>
		</div>
		<div class="content">
			<ProductCarouselSection transition:persist-props="popular" heading="Popular ahora mismo" />
		</div>
		<CollectionSection />
		<WallyWidget />
	</main>
</PrimaryLayout>
