---
import LandingHero from '~/components/LandingHero.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';

applyDefaultCacheHeaders(Astro.response.headers);
---

<PrimaryLayout title="Bodegas Maquiavelo">
	<LandingHero />
	<main class="breakout mt-16 flex flex-col gap-y-16">
		<div class="content">
			<ProductCarouselSection heading="Popular ahora mismo" />
		</div>
		<CollectionSection />
		<div
			id="popup-modal"
			tabindex="-1"
			class="fixed left-0 right-0 top-0 z-50 flex hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
			aria-modal="true"
			role="dialog"
		>
			<div class="relative m-auto max-h-full w-full max-w-md p-2">
				<div class="relative rounded-lg bg-gray-700 shadow">
					<div class="p-4 text-center md:p-5">
						<svg
							class="mx-auto mb-4 h-12 w-12 text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
						</svg>
						<h3 class="mb-5 text-lg font-normal text-gray-300">
							Por un consumo responsable.<br />Al navegar por nuestra tienda eres responsable de
							cumplir con la mayoría de edad legal.
						</h3>
						<button
							data-modal-hide="popup-modal"
							type="button"
							class="inline-flex items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300"
						>
							Sí, tengo más de 18 años.
						</button>
						<a
							href="https://www.google.com/?hl=es"
							type="button"
							class="ms-3 rounded-lg bg-red-600 px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-red-800 focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300"
							>No</a
						>
					</div>
				</div>
			</div>
		</div>
	</main>
</PrimaryLayout>
