---
import '@fontsource-variable/inter';
import { SolidQueryDevtools } from '~/components/SolidQueryDevtools.tsx';
import BackToTop from '~/components/layout/BackToTop.astro';
import SEO from '~/components/layout/SEO.astro';
import SiteFooter from '~/components/layout/SiteFooter.astro';
import SiteHeader from '~/components/layout/SiteHeader.astro';
import SiteRibbon from '~/components/layout/SiteRibbon.astro';
import '../styles.css';
import { ViewTransitions } from 'astro:transitions';
import CookieConsent from '../components/CookieConsent.astro';

const defaults = {
	name: 'Bodegas Maquiavelo',
	description:
		'En Bodegas Maquiavelo, creemos que cada botella cuenta una historia. Ofrecemos vinos de pequeñas producciones que invitan a explorar y disfrutar de lo auténtico, perfectos para quienes buscan dejar atrás lo convencional y sorprender en cada encuentro.',
	image: {
		src: new URL('/social-v2.jpg?v=1', Astro.site).href,
		alt: 'Bodegas Maquiavelo',
	},
} as const;

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<html lang="es" class="overflow-x-clip bg-white text-theme-base-900">
	<head>
		<script is:inline data-category="analytics">
			function updateConsents() {
				gtag('consent', 'update', {
					ad_storage: 'granted',
					ad_user_data: 'granted',
					ad_personalization: 'granted',
					analytics_storage: 'granted',
				});
			}
		</script>
		<!-- Google tag (gtag.js) -->
		<script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-L8WH2945BQ"></script>
		<script>
			declare global {
				interface Window {
					dataLayer: Record<string, any>[];
					gtag: (...args: any[]) => void;
				}
			}

			// This is the important part!
			document.addEventListener('astro:page-load', () => {
				window.dataLayer = window.dataLayer || [];
				window.gtag = function gtag(...args: any[]) {
					window.dataLayer.push(args);
				};
				window.gtag('js', new Date());
				window.gtag('consent', 'default', {
					ad_storage: 'denied',
					ad_user_data: 'denied',
					ad_personalization: 'denied',
					analytics_storage: 'denied',
				});
				window.gtag('config', 'G-L8WH2945BQ');
			});
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
		<SEO {...defaults} {title} />
		<ViewTransitions />
	</head>
	<body class="content-grid min-h-screen dark:bg-maquiavelo-dark dark:text-theme-base-100">
		<SiteRibbon />
		<div class={`breakout border-b w-full border-theme-base-300 dark:border-theme-base-600`}></div>
		<SiteHeader />
		<div class={`breakout border-b w-full border-theme-base-300 dark:border-theme-base-600`}></div>
		<slot />
		<div class="pt-24">
			<SiteFooter />
		</div>
		{import.meta.env.DEV && <SolidQueryDevtools client:idle />}
		<div transition:persist="find-me-on-the-other-side" id="cc-container">
			<CookieConsent />
			<script is:inline>
				// Restore the `show--consent` class if it was present before the page swap
				document.addEventListener('astro:before-preparation', (event) => {
					const htmlClassName = window.document.documentElement.className;
					const consentClassPresent = htmlClassName.includes('show--consent') ? true : false;
					window._showConsentClass = consentClassPresent;
				});

				document.addEventListener('astro:before-swap', (event) => {
					const showConsent = window._showConsentClass ? ` show--consent` : '';
					event.newDocument.documentElement.className += showConsent;
				});
			</script>
		</div>
		<BackToTop transition:persist />
	</body>
</html>
