---
import '@fontsource-variable/inter';
import { FATHOM_SITE_ID } from 'astro:env/client';
import { SolidQueryDevtools } from '~/components/SolidQueryDevtools.tsx';
import SEO from '~/components/layout/SEO.astro';
import SiteFooter from '~/components/layout/SiteFooter.astro';
import SiteHeader from '~/components/layout/SiteHeader.astro';
import SiteRibbon from '~/components/layout/SiteRibbon.astro';
import '../styles.css';
import { ViewTransitions } from 'astro:transitions';

const defaults = {
	name: 'Bodegas Maquiavelo',
	description: 'Una experiencia enológica diferente, un vino elaborado con el corazón.',
	image: {
		src: new URL('/social-v2.jpg?v=1', Astro.site).href,
		alt: 'Bodegas Maquiavelo',
	},
} as const;

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="overflow-x-clip bg-white text-theme-base-900">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css"
		/>
		<SEO {...defaults} {title} />

		{
			FATHOM_SITE_ID && (
				<script
					src="https://cdn.usefathom.com/script.js"
					data-site={FATHOM_SITE_ID}
					is:inline
					defer
				/>
			)
		}
		<ViewTransitions />
	</head>
	<body class="content-grid min-h-screen">
		<script type="module" src="cookieconsent-config.js"></script>
		<SiteRibbon />
		<div class={`breakout border-b w-full border-theme-base-300`}></div>
		<SiteHeader />
		<div class={`breakout border-b w-full border-theme-base-300`}></div>
		<slot />
		<div class="pt-24">
			<SiteFooter />
		</div>
		{import.meta.env.DEV && <SolidQueryDevtools client:idle />}
		<div
			id="popup-modal"
			tabindex="-1"
			class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
			aria-modal="true"
			role="dialog"
		>
			<div class="relative m-auto max-h-full w-full max-w-md p-2">
				<div class="relative rounded-lg bg-gray-700 shadow">
					<div class="p-4 text-center md:p-5">
						<svg
							class="mx-auto mb-4 h-12 w-12 text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 20 20"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
						</svg>
						<h3 class="mb-5 text-lg font-normal text-gray-300">
							Por un consumo responsable.<br />¿Tienes la mayoría de edad legal para consumir vino?
						</h3>
						<button
							data-modal-hide="popup-modal"
							type="button"
							class="inline-flex items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300"
						>
							Sí, tengo más de 18 años.
						</button>
						<a
							href="https://www.google.com/?hl=es"
							type="button"
							class="ms-3 rounded-lg bg-red-600 px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-red-800 focus:z-10 focus:outline-none focus:ring-4 focus:ring-red-300"
							>No</a
						>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
