---
import '@fontsource-variable/inter';
import { SolidQueryDevtools } from '~/components/SolidQueryDevtools.tsx';
import BackToTop from '~/components/layout/BackToTop.astro';
import SEO from '~/components/layout/SEO.astro';
import SiteFooter from '~/components/layout/SiteFooter.astro';
import SiteHeader from '~/components/layout/SiteHeader.astro';
import SiteRibbon from '~/components/layout/SiteRibbon.astro';
import '../styles.css';
import { ViewTransitions } from 'astro:transitions';
import CookieConsent from '../components/CookieConsent.astro';

const defaults = {
	name: 'Bodegas Maquiavelo',
	description:
		'En Bodegas Maquiavelo, creemos que cada botella cuenta una historia. Ofrecemos vinos de pequeñas producciones que invitan a explorar y disfrutar de lo auténtico, perfectos para quienes buscan dejar atrás lo convencional y sorprender en cada encuentro.',
	image: {
		src: new URL('/social-v2.jpg?v=1', Astro.site).href,
		alt: 'Bodegas Maquiavelo',
	},
} as const;

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<html lang="es" class="overflow-x-clip bg-white text-theme-base-900">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L8WH2945BQ"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
		</script>
		<script is:inline>
			document.addEventListener(
				'astro:page-load',
				() => {
					gtag('js', new Date());
					gtag('config', 'G-L8WH2945BQ');
				},
				{ once: false },
			);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="BTj1xCcsK436lJesDkgUU-FlmKanR69hHF0syq-kTb4" />
		<!-- 👨‍🦲 para navegadores antiguos -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<!-- 🚀 SVG con modo claro/oscuro para navegadores modernos -->
		<link rel="icon" href="/favicon.svg" sizes="image/svg+xml" />
		<!-- 📱Imagen 180x180 para dispositivos Apple -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<!-- 🍏 2 imágenes 192x192 y 512x512 para android -->
		<link rel="manifest" href="/manifest.webmanifest" />
		<SEO {...defaults} {title} />
		<ViewTransitions />
	</head>
	<body class="content-grid min-h-screen dark:bg-maquiavelo-dark dark:text-theme-base-100">
		<SiteRibbon />
		<div class={`breakout border-b w-full border-theme-base-300 dark:border-theme-base-600`}></div>
		<SiteHeader />
		<div class={`breakout border-b w-full border-theme-base-300 dark:border-theme-base-600`}></div>
		<slot />
		<div class="pt-24">
			<SiteFooter />
		</div>
		{import.meta.env.DEV && <SolidQueryDevtools client:idle />}
		<div transition:persist="find-me-on-the-other-side" id="cc-container">
			<CookieConsent />
			<script is:inline>
				// Restore the `show--consent` class if it was present before the page swap
				document.addEventListener('astro:before-preparation', (event) => {
					const htmlClassName = window.document.documentElement.className;
					const consentClassPresent = htmlClassName.includes('show--consent') ? true : false;
					window._showConsentClass = consentClassPresent;
				});

				document.addEventListener('astro:before-swap', (event) => {
					const showConsent = window._showConsentClass ? ` show--consent` : '';
					event.newDocument.documentElement.className += showConsent;
				});
			</script>
		</div>
		<BackToTop />
	</body>
</html>
